body {
    overflow: hidden;
    /* background: rgba(0, 0, 0, 0.1); */
    background: rgba(250, 246, 181, 0.65);
}

#splashscreen {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    animation-delay: 8s;
    animation-duration: 3.5s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-name: good-riddance;
}

@keyframes good-riddance {
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(-250%);
    }
}

#main-title {
    order: 1;
    font-family: forma-djr-deck, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 12em;
    line-height: 0.85;
    color:rgb(36, 36, 36);
    text-align: center;
    margin-bottom: 35px;
}

p {
    order: 2;
    font-family: ibm-plex-mono, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 2.5em;
    color:rgb(36, 36, 36);
    text-align: center;
}

#splash-background {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}

h1 {
    font-family: forma-djr-deck, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5em;
    /* color:rgb(241, 108, 36); */
    color:rgb(36, 36, 36);
    text-align: center;
}